.layout {
  background-color: #39445a;
}

.navBar {
  background-color: antiquewhite;
  box-shadow: 0px 1px 5px black;
  z-index: 100;
  width: 100%;
  padding: 15px;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
}
