

body {
  background-color:#D3D3D3;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li,
ul,
h1, h2, h3, h3, h4, h5, h6
{
  list-style: none;
  padding: 0;
  margin: 0;
}
#root{
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
    max-width: 1200px;
    /* background-color:#D3D3D3; */
    flex-direction: row;
    
    flex-wrap: wrap;
}
#root{
  /* padding: 15%; */
    
}
.phonebook{
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  box-shadow: 5px 5px 10px orange;
  padding: 25px;
  background-color: #edf7f6;
  height: '100%';
        
  color: '#010101';
  padding: '50px 10px';
  
  
}


.label{
  padding: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.formName,
.filterForm,
.contact{
  margin: 10px;
  text-align: center;
}
li{
  display: flex;
  text-align: center;
    margin: 10px;
    align-items: center;
}

ul{
  
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
}
.nameForm{
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 26px;
}
.addButton{
  font-size: 22px;
  padding: 15px;
  border-radius: 25px;
  border:none;
  background-color: greenyellow;
  transition: all 0.3s linear;
}
.btn{
  font-size: 18px;
  padding: 5px;
  border-radius: 25px;
  border:none;
  background-color: orangered;
  transition: width 1s ease-in, height 1s ease-in;
  transition: all 0.3s linear;
}
.btn:hover,
.addButton:hover{
  opacity: 0.8;
  cursor: pointer;
  scale: 1.1;
  
}

/*/

task 08
/*/



.Link {
  color: #39445a;
  text-decoration: none;
  justify-content: space-between;
 margin: 25px;
}
.Link:hover{
  opacity: 0.9;
transform: scale(1.090);

}
.header{
margin-top: 25%;
  font-size: 6.4vh;
  padding: 20px;
  color: orangered;
}